body{
    position: relative;
}

nav{
    background-color: #fff !important;
    position: fixed !important;
    width:100%;
    max-width: 100%;
    z-index: 2000;
}

nav a{
    color:rgb(73, 3, 3) !important;
    padding-left: 10px;
    transition: 0.5;
    margin-top: 5px;
}
nav a:hover{
    color:red !important;
}
.home{
    background-color: rgb(70, 6, 6);
    color:#fff !important;
    border-radius: 10px;
}
.best{
    background-color:rgb(70, 7, 7);
    color:#fff !important;
    transition: .5s;
    padding: 10px;
    border-radius: 20px;
}
.best:hover{
   background-color: transparent;
   color:rgb(70, 7, 7) !important;
}